*/.DS_Store
reactive/bin/*
reactive/.project
reactive/.classpath
reactive/.idea/
reactive/reactive.iml
reactive/history.xml
reactive/src/.DS_Store
deliberative/bin/*
deliberative/.project
deliberative/.classpath
deliberative/.idea/
deliberative/reactive.iml
deliberative/history.xml
deliberative/src/.DS_Store
deliberative/out/*