*.DS_Store
reactive/bin/*
reactive/.project
reactive/.classpath
reactive/.idea/
reactive/reactive.iml
reactive/history.xml
reactive/src/.DS_Store
deliberative/bin/*
deliberative/.project
deliberative/.classpath
deliberative/.idea/
deliberative/reactive.iml
deliberative/history.xml
deliberative/src/.DS_Store
deliberative/out/*
centralized/bin/*
centralized/.project
centralized/.classpath
centralized/.idea/
centralized/reactive.iml
centralized/history.xml
centralized/src/.DS_Store
centralized/out/*
auction/bin/*
auction/.project
auction/.classpath
auction/.idea/
auction/reactive.iml
auction/history.xml
auction/src/.DS_Store
auction/out/*